@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Offside', cursive;
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #FFEECC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameScreen {
  height: 85%;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;

  & .screenTop {
    height: 85px;
    background-color: #FFDDCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;

    & .element {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      & .box {
        height: 20px;
        width: 20px;
        background-color: #ffb5b5;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
      }
    }
  }
}

.screenBottom {
  height: calc(100% - 85px);
  background-color: #ee9292;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
  & .bubble {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #FFD7F1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    cursor: pointer;

    &:hover {
        background-color: #FAF7E6;
    }

  }
}
